@import "../variables.css";

.star {
  background: powderblue;
  border-radius: 5px;
  box-shadow: 0px 0px 10px var(--color-white);
  height: 1px;
  position: absolute;
  width: 1px;
}

@for $i from 1 to 30 {
  $delay: random(0, 10)s;
  $left: calc(random(0, 100) * 1%);
  $top: calc(random(0, 80) * 1%);

  .star:nth-of-type($(i)):global {
    animation-name: star-$(i);
    animation-delay: $delay;
    animation-duration: calc(random(0, 10)s + 5s);
    animation-iteration-count: infinite;
    left: $(left);
    opacity: 1;
    top: $(top);
  }

  @Keyframes star-$(i) {
    0% {
      background: powderblue;
      box-shadow: 0px 0px 10px var(--color-white);
      height: 1px;
      width: 1px;
    }

    10% {
      background: #b0e5de;
    }

    20% {
      background: #b0e5cc;
    }

    30% {
      background: #cce5b0;
    }

    40% {
      background: #dae5b0;
    }

    50% {
      background: #e5ddb0;
      box-shadow: 0px 0px 10px #d3bd3d;
      height: 5px;
      width: 5px;
    }

    100% {
      background: powderblue;
      box-shadow: 0px 0px 10px var(--color-white);
      height: 1px;
      width: 1px;
    }
  }
}
