---
import type { GetStaticPathsOptions, Page } from "astro";
import BlogCardItem from "../../components/BlogCardItem.astro";
import BlogDescription from "../../components/BlogDescription.astro";
import Pagination from "../../components/Pagination.astro";
import TagsBox from "../../components/TagsBox.astro";
import Layout from "../../layouts/Layout.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import { getAllTags, Mdxs, sortByDate } from "../../utils/blog";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = sortByDate(await Astro.glob("./*.mdx"));

  return paginate(posts, { pageSize: 20 });
}

const posts = sortByDate(await Astro.glob("./*.mdx"));
const allTags = getAllTags(posts);
const { page } = Astro.props as {
  page: Page<Mdxs[number]>;
};
---

<Layout>
  <MainLayout title="Blog">
    <BlogDescription slot="description" />
    <TagsBox tags={allTags} slot="optional-content" />
    <a
      class="text-right text-blue-300 mb-4 block"
      href="https://blog.hiroppy.me"
      target="_blank">✍ previous blog</a
    >
    <div class="gap-4 flex flex-col">
      {
        page.data.map(({ url, frontmatter }) => (
          <BlogCardItem url={url!} frontmatter={frontmatter} />
        ))
      }
    </div>
    <Pagination prev={page.url.prev} next={page.url.next} />
  </MainLayout>
</Layout>
