---
import type { MarkdownInstance } from "astro/dist/@types/astro";
import Card from "../../components/Card.astro";
import Layout from "../../layouts/Layout.astro";
import MainLayout from "../../layouts/MainLayout.astro";

const posts = (
  (await Astro.glob("./*.mdx")) as MarkdownInstance<BlogFrontmatter>[]
).sort(
  (a, b) =>
    new Date(b.frontmatter.date).getTime() -
    new Date(a.frontmatter.date).getTime()
);
---

<Layout>
  <MainLayout title="Blog">
    <a
      class="text-right text-blue-300 mb-4 block"
      href="https://blog.hiroppy.me"
      target="_blank">✍ previous blog</a
    >
    <div class="gap-4 flex flex-col">
      {
        posts.map((post) => (
          <Card>
            <h2 class="text-gray-100 font-semibold mb-2">
              {post.frontmatter.title}
            </h2>
            <p>{post.frontmatter.description}</p>
            <a href={post.url} class="text-blue-300">
              Read more
            </a>
          </Card>
        ))
      }
    </div>
  </MainLayout>
</Layout>
