---
import BlogCardItem from "../../components/BlogCardItem.astro";
import TagsBox from "../../components/TagsBox.astro";
import Layout from "../../layouts/Layout.astro";
import MainLayout from "../../layouts/MainLayout.astro";
import {
  createAccordionDescription,
  getAllTags,
  sortByDate,
} from "../../utils/blog";

const posts = sortByDate(await Astro.glob("./*.mdx"));
const content = createAccordionDescription(posts);
const allTags = getAllTags(posts);
---

<Layout>
  <MainLayout title="Blog" content={content}>
    <TagsBox tags={allTags} slot="optional-content" />
    <a
      class="text-right text-blue-300 mb-4 block"
      href="https://blog.hiroppy.me"
      target="_blank">✍ previous blog</a
    >
    <div class="gap-4 flex flex-col">
      {
        posts.map(({ url, frontmatter }) => (
          <BlogCardItem url={url!} frontmatter={frontmatter} />
        ))
      }
    </div>
  </MainLayout>
</Layout>
