@import "../variables.css";

.hero {
  background: var(--color-black);
  color: var(--color-white);
  height: 100vh;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.avator {
  background: url("../../../images/avatar.jpeg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  height: 120px;
  width: 120px;
}

.buttons {
  display: flex;
  margin: 16px 0;

  & > * {
    flex: auto;
    margin: 0 10px;
  }

  @media (--650-viewport) {
    flex-wrap: wrap;

    & > * {
      margin: 10px;
      width: 24%;
    }
  }
}

@define-mixin button $color {
  color: var(--color-white);
  transition: color .7s;

  &:visited {
    color: var(--color-white);
  }

  &:hover {
    color: $color;
  }

  &:before {
    border-radius: 3px;
    border-bottom: 3px solid $color;
    border-left: 3px solid $color;
    transform-origin: 0 100%;
  }

  &:after {
    border-radius: 3px;
    border-top: 3px solid $color;
    border-right: 3px solid $color;
    transform-origin: 100% 0%;
  }
}

.github {
  @mixin button var(--color-github);
}

.twitter {
  @mixin button var(--color-twitter);
}

.facebook {
  @mixin button var(--color-facebook);
}

.hatena {
  @mixin button var(--color-hatena);
}
