@import "../variables.css";

.wrapper {
  color: var(--color-white);
  flex-direction: column;
  background: var(--color-key);
}

.container {
  border: 3px solid;
  border-radius: 3px;
  display: flex;
  width: 80%;

  & > .box {
    flex: .5;
    text-align: center;
  }

  @media (--900-viewport) {
    flex-direction: column;
    width: 100%;
  }
}

.title {
  border-bottom: 3px solid;
  margin: 20px auto;
  padding-bottom: 5px;
  width: 60%;
}

.account {
  display: flex;
  align-items: center;

  & > a {
    color: var(--color-white);
    transition: color .5s;
    margin: 0 10px;

    &:visited {
      color: var(--color-white);
    }

    &:hover {
      color: var(--color-black);
    }
  }
}

.list {
  text-align: left;
  margin: 0 50px;
}

.li {
  & > a {
    color: var(--color-white);
    font-family: 'Questrial', sans-serif,  "Hiragino Kaku Gothic ProN", "メイリオ";
    transition: color 400ms;
  }

  & > a:visited {
    color: var(--color-white);
  }

  & > a:hover {
    color: var(--color-black);
  }

  & > a:after {
    background: var(--color-black);
  }
}
