@import "../../variables.css";

.container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
  padding: 70px 50px;

  @media (--500-viewport) {
    padding: 70px 15px;
    text-align: center;
  }
}
