@import "../../variables.css";

.ul {
  list-style: none;
  padding-left: 0;
}

.li {
  align-items: baseline;
  color: var(--color-white);
  display: flex;
  margin-left: 15px;

  & > P {
    display: inline-block;
    margin-left: 15px;
  }

  & > a {
    margin: 10px auto 10px 15px;
    line-height: 1.6;

    &:after {
      content: "";
      display: block;
      height: 2px;
      transition: width .4s;
      width: 0;
    }

    &:hover:after {
      width: 100%;
      transition: width .4s;
    }
  }
}

.ul > .li::before {
  content: "-";
  margin-left: -15px;
}
