---
import JobSection from "./JobSection.astro";
import history from "../../../node_modules/hiroppy/generated/jobs.json";
---

<div>
  <div
    class="grid divide-gray-200 lg:grid-cols-2 lg:divide-x dark:divide-gray-600"
  >
    <div class="lg:pr-3">
      <JobSection title="Main Job" meta={history.meta} items={history.main} />
    </div>
    <div class="mt-4 lg:mt-0 lg:pl-3">
      <JobSection title="My Company" meta={history.meta} items={history.side} />
    </div>
  </div>
</div>
