---
import Layout from "../layouts/Layout.astro";
import MainLayout from "../layouts/MainLayout.astro";
import JobHistory from "../components/JobHistory.astro";
import Card from "../components/Card.astro";
import SkillBox from "../components/SkillBox.astro";
import Link from "../components/Link.astro";
import CompanyLink from "../components/CompanyLink.astro";
import { JOB_FORM } from "../constants";
---

<Layout>
  <MainLayout title="Jobs">
    <span slot="description">
      I work in Yuimedi as a VPoE and support Souzoh and Tabelog as a Techinical
      Advaser 🥸
    </span>

     I work as a VPoE at
    <Link name="Yuimedi" href="https://yuimedi.com/en" isBlank>
      Yuimedi, inc
    </Link>
     and provide frontend development support as a technical advisor for several
    companies. Welcome to request anything so feel free to submit
    <Link name="request-job" href={JOB_FORM} isBlank>this form</Link>.

    <div class="flex gap-4 mt-4 flex-col">
      <Card title="Skills">
        <p>
          I started programming when I was a high school student using JS and C.
          I have been studying image processing for four years, and I also
          conducted research on optimization for ニコニコ動画.
        </p>
        <p>
          Currently, my specialty is web performance and frontend infrastructure
          using tools such as webpack, Turborepo, and Vite. In my main job and
          as a technical advisor, I mainly develop products using Next.js.
        </p>
        <span class="block text-right mt-4 text-sm"
          >👷 maintainer(including past)</span
        >
        <div class="grid xl:grid-cols-2 gap-4 mt-2">
          <SkillBox
            title="JavaScript"
            color="bg-javascript-dark"
            items={[
              {
                title: "Node.js 👷",
                from: 2011,
              },
              {
                title: "TypeScript",
                from: 2016,
              },
              {
                title: "React",
                from: 2015,
              },
              {
                title: "Next.js",
                from: 2017,
              },
              {
                title: "Gatsby 👷",
                from: 2017,
                to: 2021,
              },
              {
                title: "Astro",
                from: 2022,
              },
              {
                title: "Apollo",
                from: 2017,
              },
              {
                title: "Nestjs",
                from: 2020,
              },
              {
                title: "Mui",
                from: 2021,
              },
              {
                title: "ChakraUI 👷",
                from: 2020,
              },
              {
                title: "TailwindCSS",
                from: 2019,
              },
              {
                title: "Redux",
                from: 2016,
                to: 2019,
              },
              {
                title: "Electron",
                from: 2017,
              },
              {
                title: "webpack 👷",
                from: 2017,
              },
              {
                title: "Vite",
                from: 2022,
              },
              {
                title: "jQuery",
                from: 2008,
                to: 2014,
              },
            ]}
          />
          <SkillBox
            title="Others"
            color="bg-main-dark"
            items={[
              {
                title: "Go",
                from: 2022,
              },
              {
                title: "C, C++",
                from: 2008,
                to: 2015,
              },
              {
                title: "ActionScript",
                from: 2010,
                to: 2015,
              },
              {
                title: "Java",
                from: 2010,
                to: 2012,
              },
              {
                title: "OpenCV",
                from: 2014,
                to: 2015,
              },
              {
                title: "Boost",
                from: 2012,
                to: 2015,
              },
              {
                title: "GraphQL",
                from: 2017,
              },
              {
                title: "gRPC",
                from: 2020,
              },
            ]}
          />
        </div>
      </Card>
      <Card title="Technical Advisor">
        <div class="mt-4 grid grid-cols-3 md:grid-cols-4 xl:grid-cols-6 gap-2">
          <CompanyLink
            filename="tabelog.jpg"
            alt="tabelog"
            href="https://tabelog.com/"
          />
          <CompanyLink
            filename="mercari.png"
            alt="mercari"
            href="https://jp.mercari.com/"
          />
          <CompanyLink
            filename="rebase.png"
            alt="rebase"
            href="https://www.rebase.co.jp/"
          />
          <CompanyLink
            filename="runpeace.jpg"
            alt="runpeace"
            href="https://www.runpeace.biz/"
          />
          <CompanyLink
            filename="route06.jpg"
            alt="route06"
            href="https://route06.co.jp/"
          />
          <CompanyLink
            filename="anotherworks.webp"
            alt="anotherworks"
            href="https://anotherworks.co.jp/"
          />
          <CompanyLink
            filename="alpaca.jpg"
            alt="alpaca"
            href="https://alpaca.markets/"
          />
          <CompanyLink
            filename="black.jpg"
            alt="black"
            href="https://by.black/"
          />
        </div>
      </Card>
      <Card title="Timeline">
        <p class="text-right mb-2">🙈 the side job shows only public</p>
        <div class="overflow-auto h-80">
          <JobHistory />
        </div>
      </Card>
    </div>
  </MainLayout>
</Layout>
