---
import Arrow from "./icons/Arrow.astro";

type Props = {
  options: readonly {
    icon: string;
    title: string;
    href: string;
  }[];
};

const { options } = Astro.props;
---

{
  options.map(({ icon, title, href }) => {
    const isOpen =
      href === "/"
        ? Astro.url.pathname === href
        : Astro.url.pathname.includes(href);

    return (
      <div>
        <a
          class={`flex items-center justify-between w-full p-4 font-medium text-left hover:bg-gray-700 transition ${
            isOpen ? "bg-gray-700 text-blue-300" : ""
          }`}
          aria-expanded={isOpen ? "true" : "false"}
          href={href}
        >
          <div class="flex gap-2 items-center">
            <span class="text-2xl">{icon}</span>
            <span>{title}</span>
          </div>
          <svg
            class={`w-6 h-6 shrink-0 ${isOpen ? "rotate-180" : ""}`}
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <Arrow />
          </svg>
        </a>
        <div
          class={isOpen ? "" : "hidden"}
          aria-labelledby="accordion-collapse-heading"
        >
          <div class="px-4 py-3 font-light bg-gray-600 text-sm text-gray-50">
            <slot name="description" />
          </div>
        </div>
      </div>
    );
  })
}
