---
import { cn } from "../utils/cn";

export interface Props {
  class?: string;
  size?: "xs" | "sm" | "md" | "lg" | "xl";
}

const { class: className = "", size = "md" } = Astro.props;

const classes = cn(
  "relative flex shrink-0 overflow-hidden rounded-full",
  size === "xs" && "h-6 w-6",
  size === "sm" && "h-8 w-8",
  size === "md" && "h-10 w-10",
  size === "lg" && "h-12 w-12",
  size === "xl" && "h-32 w-32",
  className,
);
---

<span class={classes}>
  <slot />
</span>
