---
import { sortByDate } from "../utils/blog";
import { formatDate } from "../utils/formatDate";
import Link from "./Link.astro";

// HMRで重くなるため、dev環境ではglobをさせない
const posts = import.meta.env.PROD
  ? sortByDate(await Astro.glob("../pages/blog/*.mdx"))
  : [];
---

<div class="grid grid-cols-2">
  <span>Number of posts</span>
  <span class="text-right">{posts.length}</span>
  <span>Last posted Date</span>
  <span class="text-right"
    >{
      import.meta.env.PROD
        ? formatDate(new Date(posts[0].frontmatter.date))
        : "dev mode"
    }</span
  >
  <span>Previous blog</span>
  <span class="text-right"
    ><Link
      href="https://abouthiroppy.hatenablog.jp/"
      name="技術探し"
      isBlank
      className="text-inherit hover:text-blue-300"
    >
      技術探し
    </Link>
  </span>
</div>
