---
import { getBlogs } from "../utils/blog";
import { formatDate } from "../utils/formatDate";

// HMRで重くなるため、dev環境ではglobをさせない
const posts = import.meta.env.PROD ? await getBlogs() : [];
---

<div class="grid grid-cols-2">
  <span>Number of posts</span>
  <span class="text-right">{posts.length}</span>
  <span>Last posted Date</span>
  <span class="text-right"
    >{
      import.meta.env.PROD
        ? formatDate(new Date(posts[0].data.date))
        : "dev mode"
    }</span
  >
</div>
