---
import { cn } from "../utils/cn";
import { commonStyles } from "../utils/commonStyles";

type Props = {
  class?: string;
};

const { class: className = "" } = Astro.props;
---

<div class={cn(commonStyles.cardHeader, className)}>
  <slot />
</div>
