---
import { cn } from "../utils/cn";

type Props = {
  class?: string;
};

const { class: className = "" } = Astro.props;
---

<div class={cn("flex flex-col space-y-1.5 p-6", className)}>
  <slot />
</div>
