---
import { cn } from "../utils/cn";

type Props = {
  class?: string;
};

const { class: className = "" } = Astro.props;
---

<p class={cn("text-sm text-gray-500 dark:text-gray-300", className)}>
  <slot />
</p>
