---
type Props = {
  title?: string;
};

const { title } = Astro.props;
---

<div
  class="rounded-lg border border-gray-600 p-2 text-gray-300 shadow-sm sm:p-4"
>
  {title && <h2 class="mb-4 text-lg font-semibold text-gray-200">{title}</h2>}
  <slot />
</div>
