---
import Link from "../components/Link.astro";
import Image from "./Image.astro";

type Props = {
  src: ImageMetadata;
  alt: string;
  href: string;
};

const { src, alt, href } = Astro.props;
---

<div class="m-auto">
  <Link href={href}>
    <Image src={src} alt={alt} width={40} height={40} className="rounded" />
  </Link>
</div>
