---
import Icon from "./Icon.astro";
import Link from "./Link.astro";
import meta from "../../node_modules/hiroppy/generated/meta.json";
---

<footer class="h-20 border-t border-t-gray-200 dark:border-t-slate-700">
  <div
    class="container mx-auto flex h-full items-center justify-between px-4 text-sm text-gray-400"
  >
    <span data-testid="copyright-year">
      © {new Date().getFullYear()} - Copyright Hiroppy, All Rights Reserved.
    </span>
    <div class="flex items-center gap-4">
      <Link
        href={meta.sns.github}
        class="text-gray-600 transition-colors hover:text-gray-800 dark:text-gray-300 dark:hover:text-gray-200"
        ariaLabel="GitHub"
      >
        <Icon icon="mdi:github" width="20" height="20" />
      </Link>
      <Link
        href={meta.sns.twitter}
        class="text-gray-600 transition-colors hover:text-gray-800 dark:text-gray-300 dark:hover:text-gray-200"
        ariaLabel="Twitter"
      >
        <Icon icon="mdi:twitter" width="20" height="20" />
      </Link>
      <Link
        href={meta.sns.linkedin}
        class="text-gray-600 transition-colors hover:text-gray-800 dark:text-gray-300 dark:hover:text-gray-200"
        ariaLabel="LinkedIn"
      >
        <Icon icon="mdi:linkedin" width="20" height="20" />
      </Link>
      <Link
        href="/blog/rss.xml"
        class="text-gray-600 transition-colors hover:text-gray-800 dark:text-gray-300 dark:hover:text-gray-200"
        ariaLabel="RSS"
      >
        <Icon icon="mdi:rss" width="20" height="20" />
      </Link>
    </div>
  </div>
</footer>
