---
import { mergeClass } from "../utils/mergeClass";

type Props = {
  name: string;
  href: string;
  isBlank?: boolean;
  isNoReferrer?: boolean;
  className?: string;
};

const {
  name,
  href,
  isBlank = false,
  isNoReferrer = true,
  className,
} = Astro.props;
---

<a
  href={href}
  target={isBlank ? "_blank" : undefined}
  class={mergeClass(
    "text-blue-300 no-underline hover:underline",
    className ?? "",
  )}
  rel={isNoReferrer ? "noreferrer" : undefined}
  aria-label={`Link for ${name}`}
>
  <slot />
</a>
