---
import { twMerge } from "tailwind-merge";
import { getExternalLinkProps } from "../utils/linkUtils";
import { commonStyles } from "../utils/commonStyles";

type Props = {
  href: string;
  isBlank?: boolean;
  class?: string;
  ariaLabel?: string;
  animation?: boolean;
};

const {
  href,
  isBlank,
  class: className,
  ariaLabel,
  animation = true,
} = Astro.props;

const siteUrl = "https://hiroppy.me/";
const isInternalLink = href.startsWith(siteUrl);
const internalHref = isInternalLink ? href.replace(siteUrl, "/") : href;

const linkProps = getExternalLinkProps(href);
const shouldOpenInBlank = isInternalLink
  ? false
  : (isBlank ?? !!linkProps.target);
---

<a
  href={internalHref}
  target={shouldOpenInBlank ? "_blank" : undefined}
  class={twMerge(
    "text-blue-700 dark:text-blue-300 no-underline hover:underline rounded",
    animation ? commonStyles.focusRing : "",
    className,
  )}
  rel={shouldOpenInBlank ? "noreferrer" : undefined}
  aria-label={ariaLabel}
>
  <slot />
</a>
