---
type Props = {
  name: string;
  href: string;
  isBlank?: boolean;
  className?: string;
};

const { name, href, isBlank = false, className } = Astro.props;
---

<a
  href={href}
  target={isBlank ? "_blank" : undefined}
  class={className ?? "text-blue-300"}
  rel="noreferrer"
  aria-label={`Link for ${name}`}
  ><slot />
</a>
