---
import { mergeClass } from "../utils/mergeClass";
import { getExternalLinkProps } from "../utils/linkUtils";

type Props = {
  href: string;
  isBlank?: boolean;
  class?: string;
  ariaLabel?: string;
};

const { href, isBlank, class: className, ariaLabel } = Astro.props;

const linkProps = getExternalLinkProps(href);
const isNeedTargetBlank = isBlank ?? !!linkProps.target;
---

<a
  href={href}
  target={isNeedTargetBlank ? "_blank" : linkProps.target}
  class={mergeClass(
    "text-blue-600 dark:text-blue-300 no-underline hover:underline focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-blue-500 focus-visible:ring-offset-2 rounded",
    className ?? "",
  )}
  rel={isNeedTargetBlank ? "noreferrer" : linkProps.rel}
  aria-label={ariaLabel}
>
  <slot />
</a>
