---
import { mergeClass } from "../utils/mergeClass";

type Props = {
  href: string;
  isBlank?: boolean;
  className?: string;
  ariaLabel?: string;
};

const { href, isBlank, className, ariaLabel } = Astro.props;
const isNeedTargetBlank =
  isBlank ??
  (href.startsWith("http") && !href.startsWith(import.meta.env.SITE));
---

<a
  href={href}
  target={isNeedTargetBlank ? "_blank" : undefined}
  class={mergeClass(
    "text-blue-300 no-underline hover:underline",
    className ?? "",
  )}
  rel={isNeedTargetBlank ? "noreferrer" : undefined}
  aria-label={ariaLabel}
>
  <slot />
</a>
