---
import { mergeClass } from "../utils/mergeClass";

type Props = {
  name: string;
  href: string;
  isBlank?: boolean;
  className?: string;
};

const { name, href, isBlank, className } = Astro.props;
const isNeedTargetBlank =
  isBlank ??
  (href.startsWith("http") && !href.startsWith(import.meta.env.SITE));
---

<a
  href={href}
  target={isNeedTargetBlank ? "_blank" : undefined}
  class={mergeClass(
    "text-blue-300 no-underline hover:underline",
    className ?? "",
  )}
  rel={isNeedTargetBlank ? "noreferrer" : undefined}
  aria-label={`Link for ${name}`}
>
  <slot />
</a>
