---
import { load } from "cheerio";
import Image from "./Image.astro";
import { writeFileSync, readFileSync } from "node:fs";
import Link from "../components/Link.astro";

type Props = {
  url: string;
};

const { url } = Astro.props;
const generatedFilePath = new URL(
  "../../generated/ogp.json",
  // astroはbuild時に自身ではなくdist/entry.mjsに向けてしまう
  import.meta.url,
);
const ogp: OGPJson = JSON.parse(readFileSync(generatedFilePath, "utf8"));
let title: string = "";
let description: string = "";
let image: string = "";

if (ogp[url]) {
  title = ogp[url].title;
  description = ogp[url].description;
  image = ogp[url].image;
} else {
  const html = await fetch(url).then((res) => res.text());
  const $ = load(html);

  title = $("meta[property='og:title']").attr("content") ?? $("title").text();
  description =
    $("meta[property='og:description']").attr("content") ??
    $("meta[name='description']").attr("content") ??
    "";
  image = $("meta[property='og:image']").attr("content") ?? "";

  if (image && !image.startsWith("http")) {
    image = `${new URL(url).origin}/${image}`;
  }

  if (import.meta.env.PROD) {
    const ogp = JSON.parse(readFileSync(generatedFilePath, "utf8"));

    writeFileSync(
      generatedFilePath,
      JSON.stringify(
        {
          ...ogp,
          [url]: {
            title,
            description,
            image,
          },
        },
        null,
        2,
      ),
    );
  }
}
---

<div
  class="flex justify-between gap-4 rounded-sm border border-gray-600 bg-gray-700 p-4"
>
  <div class="flex flex-1 flex-col gap-2">
    <Link href={url} className="font-semibold">{title}</Link>
    <span class="text-sm"
      >{
        description && description.length > 100
          ? `${description?.slice(0, 100)}...`
          : description
      }</span
    >
  </div>
  {
    image && (
      <div class="hidden h-32 max-h-40 max-w-52 sm:block">
        <Image
          src={image}
          alt="title"
          className="object-cover h-full w-full rounded-sm"
          width={60}
          height={40}
        />
      </div>
    )
  }
</div>
