---
import { mergeClass } from "../utils/mergeClass";

type Props = {
  className?: string;
};

const { className } = Astro.props;
---

<div
  class={mergeClass(
    "bg-gray-800 rounded-lg text-gray-200 shadow-lg ring-white/5 overflow-hidden",
    className ?? "",
  )}
>
  <slot />
</div>
