---
type Props = {
  className?: string;
};

const { className = "" } = Astro.props;
---

<div
  class={`bg-slate-700 rounded-lg text-gray-200 shadow-lg ring-white/5 overflow-hidden ${className}`.trim()}
>
  <slot />
</div>
