---
import BlogTag from "./BlogTag.astro";
import Card from "./Card.astro";

type Props = {
  tags: string[];
};

const { tags } = Astro.props;
---

<Card>
  <div class="p-4">
    <p class="text-gray-900 dark:text-white">🏷 Tags</p>
    <div class="scrollbar-hide mt-4 overflow-x-auto md:overflow-visible">
      <div class="flex gap-2 pb-2 md:flex-wrap">
        {
          tags.map((tag) => (
            <BlogTag tag={tag} class="flex-shrink-0 md:flex-shrink">
              {tag}
            </BlogTag>
          ))
        }
      </div>
    </div>
  </div>
</Card>
