:root {
  --color-key: #3498db;
  --color-white: #f5f5f5;
  --color-black: #22292c;
  --color-github: #767676;
  --color-twitter: #00aced;
  --color-facebook: #305097;
  --color-hatena: #008fde;
  --max-width: 1005px;
}

@custom-media --500-viewport (max-width: 500px);
@custom-media --650-viewport (max-width: 650px);
@custom-media --900-viewport (max-width: 900px);
