---
import { twMerge } from "tailwind-merge";
import Icon from "../Icon.astro";
import Link from "../Link.astro";

type Props = {
  prev?: string;
  prevText?: string;
  next?: string;
  nextText?: string;
  class?: string;
};

const {
  prev,
  prevText = "Back",
  next,
  nextText = "Next Page",
  class: className,
} = Astro.props;
---

<div class={twMerge("flex justify-between items-center mt-4", className)}>
  {
    prev ? (
      <Link
        href={prev}
        class="flex items-center text-blue-600 dark:text-blue-300"
      >
        <Icon icon="mdi:chevron-left" width="24" height="24" />
        {prevText}
      </Link>
    ) : (
      <div />
    )
  }
  {
    next && (
      <Link
        href={next}
        class="flex items-center text-blue-600 dark:text-blue-300"
      >
        {nextText}
        <Icon icon="mdi:chevron-right" width="24" height="24" />
      </Link>
    )
  }
</div>
