---
import BlogTag from "./BlogTag.astro";
import Card from "../Card.astro";
import Icon from "../Icon.astro";

type Props = {
  tags: string[];
};

const { tags } = Astro.props;
---

<Card>
  <div class="p-4">
    <p class="flex items-center text-gray-900 dark:text-white">
      <Icon icon="noto:label" class="mr-2" width="20" height="20" />
      Tags
    </p>
    <div class="scrollbar-hide mt-4 overflow-x-auto md:overflow-visible">
      <div class="flex gap-2 pb-2 md:flex-wrap">
        {
          tags.map((tag) => (
            <BlogTag tag={tag} class="shrink-0 md:flex-shrink">
              {tag}
            </BlogTag>
          ))
        }
      </div>
    </div>
  </div>
</Card>
