---
import Layout from "./Layout.astro";

export type Props = {
  title: string;
};

const { title } = Astro.props;
---

<Layout title={title}>
  <div class="min-h-screen">
    <main class="container mx-auto px-4 py-8">
      <!-- Page Header -->
      <div class="py-6 text-center">
        <h1 class="mb-4 text-4xl font-bold text-gray-900 dark:text-gray-100">
          {title}
        </h1>
      </div>

      <slot />
    </main>
  </div>
</Layout>
