---
import Accordion from "../components/Accordion.astro";
import SnsIcon from "../components/SnsIcon.astro";
import Paper from "../components/Paper.astro";
import { PAGE_LINKS } from "../constants";
import Twitter from "../components/icons/Twitter.astro";
import GitHub from "../components/icons/GitHub.astro";
import Facebook from "../components/icons/Facebook.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import Pencil from "../components/icons/Pencil.astro";

type Props = {
  title: string;
  content?: string;
};

const { title, content } = Astro.props;
---

<main class="flex gap-4 items-start">
  <div class="sticky top-14 w-64 hidden lg:block shrink-0">
    <div class="flex flex-col gap-4">
      <Paper>
        <Accordion options={PAGE_LINKS} content={content} />
      </Paper>
      <Paper>
        <div class="flex justify-around items-center p-4">
          <SnsIcon href="https://twitter.com/about_hiroppy" name="Twitter">
            <Twitter />
          </SnsIcon>
          <SnsIcon href="https://github.com/hiroppy" name="GitHub">
            <GitHub />
          </SnsIcon>
          <SnsIcon
            href="https://www.facebook.com/yuta.hiroto0429/"
            name="Facebook"
          >
            <Facebook />
          </SnsIcon>
          <SnsIcon href="https://jp.linkedin.com/in/hiroppy" name="Linkedin">
            <LinkedIn />
          </SnsIcon>
          <SnsIcon href="https://blog.hiroppy.me/" name="Blog">
            <Pencil />
          </SnsIcon>
        </div>
      </Paper>
      <slot name="optional-content" />
    </div>
  </div>
  <div class="flex-1 w-full overflow-hidden">
    <Paper>
      <div class="p-2 sm:p-4 text-gray-300">
        <h1 class="text-2xl font-semibold mb-8 text-gray-100">{title}</h1>
        <slot />
      </div>
    </Paper>
  </div>
</main>
