---
// これいらないかも

import SnsIcon from "../components/SnsIcon.astro";
import Paper from "../components/Paper.astro";
import { PAGE_LINKS } from "../constants";
import Twitter from "../components/icons/Twitter.astro";
import GitHub from "../components/icons/GitHub.astro";
import Facebook from "../components/icons/Facebook.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import Rss from "../components/icons/Rss.astro";

type Props = {
  title: string;
};

const { title } = Astro.props;
const hasSidebar = Astro.slots.has("sidebar");
---

<main class="flex flex-col gap-8 p-4 text-gray-300 sm:p-4">
  <h1 class="text-2xl font-semibold text-gray-100">
    {title}
  </h1>
  {
    hasSidebar ? (
      <div class="flex gap-4">
        <div class="sticky top-[180px] hidden w-64 md:block">
          <slot name="sidebar" />
        </div>
        <div class="flex-1 overflow-y-auto p-4">
          <slot />
        </div>
      </div>
    ) : (
      <slot />
    )
  }
</main>
