---
import Accordion from "../components/Accordion.astro";
import SnsIcon from "../components/SnsIcon.astro";
import Paper from "../components/Paper.astro";
import { PAGE_LINKS } from "../constants";
import Twitter from "../components/icons/Twitter.astro";
import GitHub from "../components/icons/GitHub.astro";
import Facebook from "../components/icons/Facebook.astro";
import LinkedIn from "../components/icons/LinkedIn.astro";
import Rss from "../components/icons/Rss.astro";

type Props = {
  title: string;
};

const { title } = Astro.props;
---

<main class="flex items-start gap-4">
  <div class="sticky hidden w-64 shrink-0 lg:block" style={{ top: "96px" }}>
    <div
      class="flex flex-col gap-4"
      style={{ maxHeight: `calc(100vh - 96px - 16px)` }}
    >
      <Paper className="flex-shrink-0">
        <Accordion options={PAGE_LINKS}>
          <slot name="description" slot="description" />
        </Accordion>
      </Paper>
      <Paper className="flex-shrink-0">
        <div class="flex items-center justify-around p-4">
          <SnsIcon href="https://twitter.com/about_hiroppy" name="Twitter">
            <Twitter />
          </SnsIcon>
          <SnsIcon href="https://github.com/hiroppy" name="GitHub">
            <GitHub />
          </SnsIcon>
          <SnsIcon
            href="https://www.facebook.com/yuta.hiroto0429/"
            name="Facebook"
          >
            <Facebook />
          </SnsIcon>
          <SnsIcon href="https://jp.linkedin.com/in/hiroppy" name="Linkedin">
            <LinkedIn />
          </SnsIcon>
          <SnsIcon href="/blog/rss.xml" name="RSS">
            <Rss />
          </SnsIcon>
        </div>
      </Paper>
      <slot name="optional-content" />
    </div>
  </div>
  <div class="w-full flex-1 overflow-hidden">
    <Paper>
      <div class="p-4 text-gray-300 sm:p-4">
        <h1 class="mb-8 text-2xl font-semibold text-gray-100">{title}</h1>
        <slot />
      </div>
    </Paper>
  </div>
</main>
