---
import Link from "../components/Link.astro";
import type { MediaType } from "../constants";
import MainLayout from "./MainLayout.astro";

type Path = "" | `/${MediaType}`;

// buildのときだけ、/が最後につく
const currentPath = Astro.url.pathname.replace("/media", "").replace(/\/$/, "");
const kinds: Record<Path, string> = {
  "": "/media",
  "/articles": "/media/articles",
  "/talks": "/media/talks",
  "/podcasts": "/media/podcasts",
  "/achievements": "/media/achievements",
};
---

<MainLayout
  title={`Media / ${currentPath === "" ? "all" : currentPath.replace("/", "")}`}
>
  <div class="flex flex-col gap-3 overflow-x-auto p-2 md:gap-2" slot="sidebar">
    {
      Object.entries(kinds).map(([kind, href]) => (
        <a
          href={href}
          class={`font-semibold ${
            currentPath === kind ? "text-blue-300" : "text-gray-100"
          }`}
        >
          {kind === "" ? "all" : kind.replace(/^\//, "")}
        </a>
      ))
    }
  </div>
  <slot />
</MainLayout>
