---
type Path = "" | "/articles" | "/talks" | "/podcasts" | "/achievements";

// buildのときだけ、/が最後につく
const currentPath = Astro.url.pathname.replace("/media", "").replace(/\/$/, "");
const kinds: Record<Path, string> = {
  "": "/media",
  "/articles": "/media/articles",
  "/talks": "/media/talks",
  "/podcasts": "/media/podcasts",
  "/achievements": "/media/achievements",
};
---

<div class="my-5 flex gap-2 overflow-auto">
  {
    Object.entries(kinds).map(([kind, href]) => (
      <a
        href={href}
        class={`font-semibold ${
          currentPath === kind ? "text-blue-300" : "text-white"
        }`}
      >
        {kind === "" ? "all" : kind.replace(/^\//, "")}
      </a>
    ))
  }
</div>
<slot />
