---
import type { MediaType } from "../constants";

type Props = {
  current: "all" | MediaType;
};

const { current } = Astro.props;
const kinds: Record<Props["current"], string> = {
  all: "/media",
  article: "/media/articles",
  talk: "/media/talks",
  podcast: "/media/podcasts",
  achievement: "/media/achievements",
};
---

<div class="my-5 flex gap-2 overflow-auto">
  {
    Object.entries(kinds).map(([kind, href]) => (
      <a
        href={href}
        class={`font-semibold ${
          current === kind ? "text-blue-300" : "text-white"
        }`}
      >
        {kind}
      </a>
    ))
  }
</div>
<slot />
