---
const { frontmatter } = Astro.props;
---

<html class="bg-slate-100">
  <style is:global>
    h2 {
      @apply my-4 text-xl font-semibold text-sky-700;
    }

    h2::before {
      content: "> ";
    }

    h2:has(~ h2) ~ *:not(h2) {
      @apply ml-4;
    }

    h3 {
      @apply my-4 text-lg font-semibold text-green-700;
    }

    h3::before {
      content: ">> ";
    }

    h4 {
      @apply my-4 font-semibold text-orange-700;
    }

    h4::before {
      content: ">>> ";
    }

    table {
      @apply my-4 overflow-x-auto whitespace-nowrap;
    }

    td,
    th {
      @apply px-2;
    }

    ul {
      @apply list-inside list-hyphen;
    }

    a {
      @apply text-blue-600;
    }

    p,
    ul {
      @apply mt-2;
    }
  </style>
  <div class="container mx-auto my-6 px-6">
    <h1 class="text-3xl">{frontmatter.title}</h1>
    <div class="mt-6">
      <slot />
    </div>
  </div>


</html>
