name: ci
on:
  pull_request:
    branches: [main]
    paths:
      - "package.json"
      - "src/**"
      - "data/**"
      - ".github/workflows/ci.yml"
  push:
    branches: [main]
    paths:
      - "package.json"
      - "src/**"
      - "data/**"
      - ".github/workflows/ci.yml"

env:
  ALGOLIA_APPLICATION_ID: ${{ secrets.ALGOLIA_APPLICATION_ID }}
  ALGOLIA_SEARCH_ONLY_KEY: ${{ secrets.ALGOLIA_SEARCH_ONLY_KEY }}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-node
      - run: pnpm check
      - run: pnpm fmt:check
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-node
        with:
          build: "true"
      - run: pnpm i -g @lhci/cli
      - run: lhci autorun --upload.target=temporary-public-storage
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
  a11y:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-node
        with:
          build: "true"
      - run: pnpm i -g serve pa11y-ci
      - run: serve dist & pa11y-ci
  vrt:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.34.1-focal
    steps:
      - uses: actions/checkout@v3
      - uses: ./.github/actions/setup-node
        with:
          build: "true"
      - run: pnpm test
      - uses: actions/upload-artifact@v3
        if: failure()
        with:
          name: test-results
          path: test-results/
