name: ci
on:
  pull_request:
    branches: [main]
    paths:
      - "package.json"
      - "src/**"
      - "data/**"
      - ".github/workflows/ci.yml"
  push:
    branches: [main]
    paths:
      - "package.json"
      - "src/**"
      - "data/**"
      - ".github/workflows/ci.yml"

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: npm
      - run: npm i
      - run: npm run check
      - run: npm run fmt:check
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: "npm"
      - run: npm i
      - run: npm run build
      - uses: actions/upload-artifact@v3
        with:
          name: dist
          path: ./dist
  lighthouse:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: npm
      - uses: actions/download-artifact@v3
        with:
          name: dist
          path: ./dist
      - run: npm install -g @lhci/cli
      - run: lhci autorun --upload.target=temporary-public-storage
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
  a11y:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "18"
          cache: npm
      - uses: actions/download-artifact@v3
        with:
          name: dist
          path: ./dist
      - run: npm install -g serve pa11y-ci
      - run: serve dist & pa11y-ci
