name: ci
on:
  pull_request:
    branches: [main]
    paths:
      - "package.json"
      - "src/**"
      - "tests/**"
      - ".github/workflows/ci.yml"
  push:
    branches: [main]
    paths:
      - "package.json"
      - "src/**"
      - "tests/**"
      - ".github/workflows/ci.yml"

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  NEXT_PUBLIC_SITE_URL: http://localhost:3000
  NEXT_PUBLIC_ALGOLIA_APPLICATION_ID: ${{ secrets.ALGOLIA_APPLICATION_ID }}
  NEXT_PUBLIC_ALGOLIA_SEARCH_ONLY_KEY: ${{ secrets.ALGOLIA_SEARCH_ONLY_KEY }}
  FEEDLE_API_URL: ${{ secrets.FEEDLE_API_URL }}
  FEEDLE_API_TOKEN: ${{ secrets.FEEDLE_API_TOKEN }}

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node
      - run: pnpm fmt:check
      - run: pnpm lint
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node
      - run: pnpm typecheck
      - run: pnpm test
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node
      - run: pnpm build
      - run: pnpm lh --upload.target=temporary-public-storage
        env:
          LHCI_GITHUB_APP_TOKEN: ${{ secrets.LHCI_GITHUB_APP_TOKEN }}
  a11y:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.58.1
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node
      - run: pnpm build
      - run: pnpm test:a11y
      - uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: a11y-test-results
          path: test-results/
  routes:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.58.1
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node
      - run: pnpm build
      - run: pnpm test:routes
      - uses: actions/upload-artifact@v6
        if: failure()
        with:
          name: routes-test-results
          path: test-results/
  vrt:
    runs-on: ubuntu-latest
    container:
      image: mcr.microsoft.com/playwright:v1.58.1
    strategy:
      matrix:
        type: [pages, components]
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-node
      - run: pnpm build
      - run: pnpm test:vrt:ci:${{ matrix.type }}
      - uses: actions/upload-artifact@v6
        with:
          name: vrt-${{ matrix.type }}-test-results
          path: test-results/
